
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



h2 {
   color: #4E47FF;
   font-size: 35px;
}
.btn {
   background-color: #4E47FF; 
   border-radius: 5px;
   padding: 5px 15px;
   width: 130px;
   height: 45px;
   color: white;
   font-weight: bold;
   
}
.btn:hover{
cursor: pointer;
  background-color: rgb(8, 63, 129);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    width: 1140px;
    height: 150px;
}
.banner-container{
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 155px;
}
.banner{
    text-align: center;

}
.banner-title{
    font-size: 65px;
}
.header-contain{
   background-image: url("../Assets/Hero-bg.png"); 
   padding-bottom: 150px;
   
}
.action-banner{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 320px;
    
    align-items: center;
    
}
.action-img{
    border-radius: 45px;
}
.action-description{
    padding-left: 200px;
}
.action-container{
    margin-top: 50px;
}
.join-section{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-left: 0px 100px;
    
}
.join-item{
    display: flex;
    
   gap: 100px;
   justify-content: space-around;
   font-weight: 700px;
   font-size: larger;
   color: #4E47FF ;

}
.container{
   background-color: rgb(240, 238, 254);
    margin: 50px 200px;
    padding: 10px 80px;
    border: none;
    border-radius: 10px;
}
.join-description{
    color: grey;
}
.checked {
  color: orange;
}
.profile{
    display: flex;
    align-items: center;
    gap: 5px;

}
.what-our{
    align-items: center;
   
}
.what-title{
    text-align: center;
}
.profile-container{
    display: flex;
    justify-content: space-around;
    margin: 0px 200px;
    gap: 20px;
}
.user-profile{
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px black;
    padding: 20px;
}
.reviewer{
    line-height: 0%;
}
.extra-banner{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 200px 0px ;
    padding: 20px 0px;
}
.extra-image{
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 10px;
  

  
    
}
.extra-section{
    background-color: rgb(240, 238, 254);
    border: none;
    border-radius: 5px;
    margin: 0px 200px;
}
.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 70px;
    margin: 20px 200px;
}
input[type=text],textarea{
  width: 100%;
  padding: 12px 20px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}
.form-button{
    display: block;
    background-color: #4E47FF; 
   border-radius: 5px;
   padding: 5px 15px;
   
   height: 45px;
   color: white;
   font-weight: bold;
   
   margin-top: 5px;
}
.form-title{
font-size: 80px;
font-weight: bold;
}
footer{
    margin: 0px auto;
    width: 1140px;
    text-align: center; 
}
footer h1{
    font-weight: bold;
    font-size: 80px;
}
footer ul, li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    

    
}